jonathanbet.com {
    encode gzip

    root * /var/www/html/public

    # Отдаём статические файлы Vite
    @static {
        path /build/* /assets/* /favicon.ico
    }
    handle @static {
        file_server
    }

    # Laravel backend
    php_fastcgi app_jbet:9000

    # Laravel fallback
    try_files {path} /index.php

    tls almuko.m@gmail.com
}
