services:
  app:
    image: almuko/jonathanbet-app:latest
    container_name: app_jbet
    restart: always
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    networks:
      - appnet

  db:
    image: postgres:17
    container_name: pg_jbet
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USERNAME}"]
      interval: 3s
      timeout: 2s
      retries: 10
    networks:
      - appnet

  caddy:
    image: caddy:2
    container_name: caddy_jbet
    restart: always
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    networks:
      - appnet

networks:
  appnet:

volumes:
  pgdata:
  caddy_data:
  caddy_config:
